@using StarWarsSPA.UI.Components

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <div class="App bg-black text-white min-h-screen">
                <!-- Navbar -->
                <NavBar />

                <div class="container mx-auto py-6">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </div>
            </div>
        </Found>
        <NotFound>
            <div class="App bg-black text-white min-h-screen flex items-center justify-center">
                <p class="text-center mt-10 text-yellow-400 font-semibold text-2xl">Sorry, there's nothing at this address.</p>
            </div>
        </NotFound>
    </Router>
